name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          debug: true
          script: |
            set -e
            set -o pipefail
            cd ${{ secrets.PROJECT_PATH }}
            git pull origin main    
            docker compose --env-file docker-compose.env up -d --build
            docker image prune -f
            echo "✅ Все контейнеры успешно запущены"